<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To API</title>
    <%- include('components/head') %>
</head>

<body>
    <div class="flex w-full flex-col items-center">
        <img src="public/favicon.png" alt="Logo" class="h-48 md:h-64 m-16">
        <p class="text-green-500 font-black text-2xl mx-16 text-center">Base E-commerce API</p>
        <a href="https://luongvantuit.github.io/se06-api/"
            class="m-16 bg-green-500 font-black text-white py-4 px-12 shadow-xl rounded-xl">Docs</a>
    </div>

</body>

</html>